@media (max-width: 1820px) {
  .news {
    .shops__categories {
      padding-right: 20px;
      flex-wrap: wrap;
      &-list {
        margin-bottom: 5px;
      }
    }
  }
}
@media (max-width: 1800px) {
  .main-page.services-page .services__inner {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'services--1 services--2 services--3'
      'services--5 services--5 services--3'
      'services--4 services--6 services--7'
      'services--8 services--9 services--10';
    .services--11,
    .services--12,
    .services--13 {
      display: none;
    }
  }
  .main-page .events__item {
    margin: 0 20px;
  }
  .main-page .services__inner {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'services--1 services--2 services--3'
      'services--4 services--6 services--3'
      'services--5 services--5 services--5';
  }
  .main-page .services__inner .services__item-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .food__inner-scroll {
    overflow: auto;
  }
  .food__inner {
    width: 1800px;
  }
  .footer__col {
    margin-right: 0;
  }
  .footer__inner {
    justify-content: space-between;
    padding-right: 80px;
  }
  .footer__copy {
    text-align: right;
    width: 100%;
  }
}
@media (max-width: 1700px) {
  .main-page .news--1 {
    .shops__item::before {
      right: -105%;
    }
  }
  .top-main__content::before {
    left: 40px;
  }
  .top-main__content {
    padding-left: 350px;
  }
  .sup-footer.information .information__inner {
    padding-right: 80px;
  }
  .information__item--contact {
    margin-left: 0;
  }
  .shops__inner {
    flex-wrap: wrap;
  }
  .shops__row {
    max-width: 50%;
    width: 100%;
    margin-bottom: 30px;
  }
  .shops__item::before {
    right: -105%;
    width: 110%;
  }
}
@media (max-width: 1600px) {
  .group__num {
    font-size: 70px;
    top: 65px;
    left: 0;
  }
  .group__col-title {
    font-size: 170px;
    line-height: 170px;
    padding-left: 40px;
  }
  .group__items .group__item {
    flex: 100%;
  }
  .main-page .news .shops__item.actives::before {
    width: 137%;
  }
}
@media (max-width: 1440px) {
  .main-page.best-deal .best__row {
    background-size: cover;
  }
  .main-page.best-deal .best__items {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'best--6 best--8 best--8'
      'best--5 best--5 best--4';
  }
  .main-page .events__item {
    margin-bottom: 40px;
    max-width: 460px;
  }
  .main-page .events__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-page .deal {
    .best__items {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'best--1 best--2 best--3 best--4'
        'best--8 best--8 best--3 best--5';
    }
    .best--7 {
      display: none;
    }
    .best--6 {
      display: none;
    }
  }
  .best__items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'best--1 best--2 best--3 best--4'
      'best--5 best--6 best--3 best--7'
      'best--8 best--8 best--9 best--10'
      'best--11 best--12 best--13 best--14'
      'best--16 best--16 best--13 best--15';
  }
  .top-main__content {
    transform: translateY(-50%);
    padding-left: 290px;
  }

  .top-main__title {
    font-size: 60px;
    line-height: 68px;
    width: 670px;
  }
  .top-main__content::before {
    top: -140px;
    width: 100%;
    height: 500px;
  }
  .sup-footer.information .information__inner {
    padding-right: 40px;
  }
  .information__inner {
    padding: 90px 40px;
  }
  .top__img {
    height: 560px;
  }
  .sell--big.sell {
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;
  }
  .sell__number {
    font-size: 66px;

    span {
      font-size: 20px;
    }
  }
  .sell__descr {
    font-size: 20px;
  }
}
@media (max-width: 1340px) {
  .main-page.services-page .services__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'services--1 services--3'
      'services--2 services--3'
      'services--4 services--5'
      'services--8 services--7';
    grid-gap: 20px;
    .services--9,
    .services--10 {
      display: none;
    }
  }
  .main-page .news .shops__inner {
    .shops__row {
      margin-bottom: 20px;
    }
    grid-gap: 5px 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'news--1 news--1'
      'news--2 news--3';
  }
  .main-page .news--1 .shops__item::before {
    right: -107%;
  }
  .main-page .services__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'services--1 services--3'
      'services--2 services--3'
      'services--4 services--5';
    .services--6 {
      display: none;
    }
  }
  .information__inner {
    flex-direction: column;
    align-items: center;
  }
  .information__item {
    margin-bottom: 60px;
    width: 414px;
    &.information__placing {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1280px) {
  .group__num {
    top: 45px;
    font-size: 55px;
  }
  .group__col-title {
    font-size: 120px;
    line-height: 120px;
    padding-left: 30px;
  }

  .main-page .campaigns__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'campaigns--1 campaigns--1'
      'campaigns--2 campaigns--3';
    .campaigns__row:first-child {
      height: 660px;
    }
  }
  .checkbox__inner {
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .best__items {
    grid-gap: 10px;
  }
  .footer__copy {
    margin-right: 0;
  }
  .footer__inner {
    padding-right: 40px;
    padding-left: 40px;
  }
  .gallery__inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'img-1 img-1 img-2 img-3'
      'img-1 img-1 img-4 img-5'
      'img-7 img-8 img-6 img-6'
      'img-7 img-9 img-6 img-6';
    img {
      height: 100%;
    }
  }

  .top__img {
    margin-bottom: 0;
    img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .top__box-item.bg--pink {
    border-top-left-radius: 0;
  }
  .top__box-item.bg--yellow {
    border-top-right-radius: 0;
  }

  .top__inner {
    z-index: 88;
  }
  .top__box {
    width: 1250px;
    &-item {
      width: 250px;
      height: 160px;
    }
    &--scroll {
      overflow-x: scroll;
    }
  }
}
@media (max-width: 1100px) {
  .main-page {
    .top-main__content::before {
      width: 280px;
      height: 350px;
      left: 60px;
      top: -95px;
    }
    .top-main__title {
      font-size: 36px;
      width: 400px;
      line-height: 40px;
    }
    .top-main__subtitle {
      font-size: 22px;
      margin-bottom: 20px;
    }
    .top-main__content {
      display: block;
      padding-left: 220px;
    }
  }
  .top-main .decoration {
    height: 10px;
  }
  .top-main__content {
    display: none;
  }
  .top-main .top__img {
    height: 653px;
  }
  .footer__col {
    width: 34%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 1040px) {
  .group__col {
    flex: 0 50%;
  }
  .group__wrapper:nth-last-of-type(2) .group__col:last-child {
    display: none;
  }
  .group__wrapper:last-child {
    display: none;
  }
  .group__checkbox {
    flex-wrap: wrap;
  }
  .main-page.best-deal .best__items {
    .best--6,
    .best--4 {
      display: block;
    }
  }
  .main-page .events__img {
    min-height: 400px;
  }
  .main-page .events__item {
    max-width: 100%;
  }
  .main-page .shops__title {
    margin-bottom: 50px;
  }
  .main-page .deal {
    .best__items {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        'best--1 best--2 best--3'
        'best--8 best--8 best--3';
    }
    .best--4,
    .best--5 {
      display: none;
    }
  }
  .best__items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'best--1 best--2 best--3'
      'best--13 best--5 best--3'
      'best--13 best--8 best--8';
  }
  .best--4,
  .best--6,
  .best--7,
  .best--9,
  .best--10,
  .best--11,
  .best--12,
  .best--14,
  .best--15,
  .best--16 {
    display: none;
  }
  .shops__row {
    padding: 0 10px;
  }
  .shops__item {
    min-height: 394px;
  }
  .gallery__inner {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'img-1 img-1 img-2'
      'img-1 img-1 img-3'
      'img-4 img-5 img-7'
      'img-8 img-6 img-6'
      'img-9 img-6 img-6';
  }
}

@media (max-width: 900px) {
  .group {
    .checkbox__box + .checkbox__box {
      margin-left: 10px;
    }
  }
  .main-page.best-deal .best__items {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'best--6 best--5'
      'best--4 best--8';
  }
  .checkbox__inner {
    justify-content: start;
  }
  .checkbox__box {
    padding: 0 20px;
  }
  .checkbox__box + .checkbox__box {
    margin-left: 0;
  }
  .best__top {
    max-width: 100%;
  }

  .sell--big.sell {
    width: 120px;
    height: 120px;
    left: 15px;
    top: 15px;
  }
  .sell__number {
    font-size: 50px;
  }
  .sell__descr {
    font-size: 17px;
  }
}
@media (max-width: 880px) {
  .main-page.services-page .services__inner {
    grid-template-columns: 1fr;
    grid-template-areas:
      'services--1'
      'services--2'
      'services--5'
      'services--3'
      'services--3';
    .services--5 {
      display: block;
    }
    .services--8,
    .services--7 {
      display: none;
    }
  }
  .main-page .services__inner {
    grid-template-columns: 1fr;
    grid-template-areas:
      'services--1'
      'services--2'
      'services--3'
      'services--3';
    .services__row {
      min-height: 428px;
    }
    .services--3 {
      height: 856px;
    }
    .services--4,
    .services--5 {
      display: none;
    }
  }
  .main-page .shops__title {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .main-page .top.top-main {
    margin-bottom: 50px;
  }
  .social__list {
    padding: 0 60px;
    margin-bottom: 20px;
  }
  .social__list + .social__list {
    margin-left: 0;
  }
  .social__menu {
    flex-wrap: wrap;
  }
}
@media (max-width: 820px) {
  .main-page .news--1 .shops__item::before {
    right: -105%;
  }
  .main-page .news .shops__inner {
    grid-template-columns: 1fr;
    grid-template-areas:
      'news--1'
      'news--2'
      'news--3';
  }
  .main-page .campaigns {
    display: none;
  }
  .main-page {
    .top-main__content::before {
      transform: translateY(-38%);
      width: 280px;
      height: 230px;
      left: 70px;
      top: 32px;
    }
    .top-main__title {
      font-size: 25px;
      line-height: 25px;
      width: 256px;
    }
    .top-main__subtitle {
      font-size: 12.1px;
      line-height: 11px;
      margin-left: 8px;
      margin-bottom: 11px;
    }
    .top-main__content {
      top: 43%;
      transform: translateY(-38%);
      padding-left: 177px;
    }
  }
  .shops__row {
    max-width: 100%;
  }
  .footer__copy {
    margin-right: 40px;
  }
  .footer__inner {
    padding-right: 0;
  }
  .footer__col {
    max-width: 50%;

    width: 100%;
  }
}
@media (max-width: 780px) {
  .main-page .deal {
    .best__row {
      background-size: cover;
    }
    .best__items {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'best--1 best--3'
        'best--2 best--3';
    }
    .best--8 {
      display: none;
    }
  }
  .best__item-content {
    background-size: cover;
  }
  .best--3 .best__item-content::after,
  .best--13 .best__item-content::after {
    right: -81px;
  }
  .best__items {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'best--1 best--2'
      'best--3 best--5'
      'best--13 best--8';
  }
  .gallery__inner a::before {
    width: 900px;
  }
  .gallery__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'img-1 img-1'
      'img-1 img-1'
      'img-2 img-3'
      'img-4 img-5'
      'img-6 img-6'
      'img-6 img-6'
      'img-7 img-8'
      'img-9 img-9';
    img {
      width: 100%;
    }
  }
}

@media (max-width: 690px) {
  .best__search {
    max-width: 100%;
  }
  .social__list {
    padding: 0 33px;
  }
}
@media (max-width: 660px) {
  .group__inner {
    margin-bottom: 20px;
  }
  .group__wrapper:nth-last-of-type(2) .group__col:nth-of-type(2) {
    display: none;
  }
  .group__col {
    flex: 100%;
    margin-bottom: 20px;
  }
  .group__wrapper {
    flex-wrap: wrap;
  }
  .group__top {
    padding: 0;
    max-width: 100%;
  }
  // .group__wrapper .group__col:nth-of-type(3) {
  //   .group__col-title {
  //     display: none;
  //   }
  // }
  .group-page.main-page .top.top-main {
    margin-bottom: 45px;
  }
  .group__title {
    margin-bottom: 53px;
    font-size: 50px;
    line-height: 30px;
    span {
      display: block;
    }
  }
  .group-page.main-page .group {
    .shops__title {
      padding-left: 0;
      margin-bottom: 18px;
      span {
        display: block;
      }
    }
  }
  .group {
    .shops__row {
      padding: 0;
    }
    .checkbox__box + .checkbox__box {
      margin-left: 0;
    }
    .checkbox__inner {
      flex-direction: column;
      margin-bottom: 36px;
    }
    .text {
      font-size: 24px;
    }
    .group__row {
      display: none;
    }
  }
  .main-page.best-deal .best-deal__subtitle {
    margin-bottom: 16px;
  }
  .main-page.best-deal .best__items {
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas:
      'best--6'
      'best--5'
      'best--4'
      'best--8';
  }
  .main-page.best-deal {
    margin-top: 79px;
    .best-deal__inner {
      margin-top: 60px;
    }
    .top__inner {
      padding-top: 45px;
    }
    .best-deal__list {
      margin-bottom: 30px;
    }
    .best-deal__list li {
      font-size: 26px;
      line-height: 36px;
      padding: 0 17px;
      span {
        font-weight: 800;
      }
    }
    .best-deal__title {
      font-size: 50px;
      padding: 0 15px;
      line-height: 51px;
      margin-bottom: 31px;
      span {
        font-weight: 800;
        display: block;
      }
    }
    .top {
      .decoration {
        display: flex;
      }
    }
  }
  .main-page.services-page .top {
    padding-top: 20px;
    margin-bottom: 30px;
    .decoration {
      display: flex;
    }
    .decoration .bg--pink {
      border-bottom-left-radius: 10px;
    }
    .decoration .bg--yellow {
      border-bottom-right-radius: 10px;
    }
  }
  .services-page__title {
    padding-top: 42px;
    font-size: 50px;
  }
  .main-page.services-page .services__inner {
    .services--1,
    .services--2 {
      display: block;
    }
  }
  .main-page .events {
    margin-bottom: 50px;
  }
  .main-page .events__inner {
    margin-bottom: 30px;
  }
  .main-page .events__item {
    margin: 0 0 20px 0;
    padding-bottom: 145px;
    &:nth-last-of-type(1) {
      display: none;
    }
    &:nth-last-of-type(2) {
      display: none;
    }
  }
  .main-page .events__img {
    min-height: 204px;
  }
  .main-page .events .title {
    margin-bottom: 18px;
  }
  .main-page .events {
    margin-top: 0;
  }
  .main-page .news {
    margin-bottom: 40px;
  }
  .main-page .news .shops__inner {
    margin-bottom: 0;
    grid-template-areas:
      'news--2'
      'news--3';
    .news--1 {
      display: none;
    }
  }
  .main-page .news .shops__title {
    margin-bottom: 15px;
  }
  .main-page .services {
    margin-bottom: 38px;
  }
  .main-page .services__row .btn {
    padding: 21px 50px 10px;
  }
  .main-page .services__inner .services__item-btn {
    max-width: 341px;
    left: -19px;
  }
  .main-page .services__item {
    padding: 0 30px;
  }
  .main-page .services--3.services__row .services__item-title {
    left: 30px;
  }
  .main-page .services__inner .services--3 {
    height: 878px;
  }
  .main-page .services__inner {
    margin-bottom: 21px;
    grid-template-areas: 'services--3';
    .services--1,
    .services--2 {
      display: none;
    }
  }
  .main-page .services,
  .main-page .news,
  .main-page .events {
    .shops__title {
      font-size: 40px;
    }
  }
  .main-page .kids {
    margin-bottom: 37px;
  }
  .main-page .food {
    margin-bottom: 35px;
  }
  .food .shops__inner,
  .kids .shops__inner {
    margin-bottom: 10px !important;
    .shops__row:last-child {
      display: none;
    }
  }
  .main-page .kids .shops__title,
  .main-page .food .shops__title {
    padding-left: 11px;
  }
  .main-page .deal {
    margin-bottom: 43px;
  }
  .deal .best__items,
  .food__inner {
    margin-bottom: 22px;
  }
  .main-page .top.top-main {
    margin-bottom: 43px;
  }
  .main-page .shops__title {
    font-size: 36px;
    margin-bottom: 16px;
    line-height: 36px;
  }
  .top.top-main {
    .top__img {
      display: flex;
      justify-content: center;
    }
    .btn {
      display: block;
      position: absolute;
      bottom: 40px;
    }
  }
  .checkbox__inner {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .checkbox__box {
    padding: 0;
  }
  .best__search {
    margin-bottom: 40px;
  }
  .best__input {
    display: none;
    &.best__input--mob {
      display: inline-block;
      text-align: left;
    }
  }
  .best .text {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 28px;
  }
  .best .shops__title {
    font-size: 50px;
    padding-left: 0;
    span {
      display: inline-block;
    }
  }
  .top.top-main {
    margin-bottom: 45px;
  }
  .footer__copy {
    margin-top: 85px;
  }
  .footer__col {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .footer__list {
    margin-bottom: 21px;
  }
  .footer__title {
    margin-bottom: 22px;
  }
  .footer__menu {
    margin-left: 20px;
  }
  .footer {
    &__inner {
      padding-top: 70px;
    }
    .container {
      padding: 0;
    }
  }
  .information {
    margin-bottom: 34px;
  }
  .title {
    font-size: 36px;
  }
  .gallery .title {
    display: block;
    margin-bottom: 8px;
    font-size: 40px;
  }
  .information__item {
    margin-bottom: 40px;
  }
  .information__inner {
    padding: 57px 20px;
    align-items: start;
  }
  .information__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .information__inner {
    margin-top: 54px;
  }
  .shop-detail__box {
    .text {
      display: none;
    }
  }
  .shop-detail__box.vision {
    .text {
      display: block;
    }
  }
  .shop-detail__title .title {
    font-size: 50px;
  }

  .container {
    padding: 0 10px;
  }
  .shop-detail__box {
    .more {
      cursor: pointer;
      display: block;
      margin-bottom: 25px;
      padding-top: 19px;
    }
  }
  .text-b {
    font-size: 20px;
    line-height: 28px;
  }
  .text {
    font-size: 18px;
    padding-left: 5px;
    line-height: 28px;
    margin-bottom: 35px;
  }

  .shop-detail__mob-test {
    display: block;
    padding-left: 5px;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 23px;
  }
  .shop-detail__list {
    text-align: center;
    margin-bottom: 57px;
  }
  .shop-detail__title {
    justify-content: center;
    margin-bottom: 44px;
  }
  .shop-detail {
    margin-top: 42px;
  }
  .shop-detail__logo {
    display: none;
  }
  .sell--big {
    display: none;
  }
}

@media (max-width: 580px) {
  .main-page .shops__title span {
    display: inline-block;
  }
  .shops__title span {
    display: none;
  }
  .shops__row {
    margin-bottom: 10px;
  }
  .shops__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .shops__title {
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .gallery {
    margin-bottom: -12px;
  }
  .information__form button {
    max-width: 60px;
    width: 100%;
  }
  .information__inner {
    padding-right: 0;
  }
  .sup-footer.information .information__inner {
    padding-right: 0;
  }
  .information__item.information__mail {
    width: 100%;
  }
  .information__form {
    margin-left: -10px;
    width: 100%;
  }
  .gallery__inner {
    grid-template-columns: 1fr;
    grid-template-areas:
      'img-1'
      'img-2'
      'img-3'
      'img-4'
      'img-5'
      'img-6'
      'img-7'
      'img-8'
      'img-9';
  }
  .gallery__inner {
    .img-1,
    .img-5,
    .img-6,
    .img-7,
    .img-8,
    .img-9 {
      display: none;
    }
  }
}
@media (max-width: 540px) {
  .main-page .deal {
    .best__items {
      grid-template-columns: 1fr;
      grid-template-areas:
        'best--1'
        'best--2'
        'best--3';
    }
  }
  .best__items {
    grid-template-columns: 1fr;
    grid-template-areas:
      'best--1'
      'best--2'
      'best--3'
      'best--5'
      'best--8'
      'best--13';
  }
}
@media (max-width: 520px) {
  .social__list {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .information {
    .container {
      padding: 0;
    }
    &__inner {
      padding-bottom: 23px;
    }
  }
  .information.sup-footer {
    .information__inner {
      padding-left: 28px;
      box-shadow: none;
      padding-bottom: 0;
      .decoration {
        .bg--yellow {
          border-top-right-radius: 0;
        }
        .bg--pink {
          border-top-left-radius: 0;
        }
      }
    }
  }

  .footer__inner {
    .decoration {
      .bg--yellow {
        border-top-right-radius: 0;
      }
      .bg--pink {
        border-top-left-radius: 0;
      }
    }
  }
  .social__list {
    padding: 0 10px;
  }
  .shop-detail__list {
    margin-bottom: 47px;
  }
  .shop-detail__item {
    margin-bottom: 10px;
  }
  .information__item {
    width: 100%;
  }
}
@media (max-width: 410px) {
  .main.main-page {
    .top-main__content {
      padding-left: 150px;
    }
    .top-main__title {
      font-size: 17px;
    }
    .top-main__content::before {
      height: 200px;
      left: 55px;
      top: 23px;
    }
    .btn {
      padding: 21px 28px 10px;
      .btn-call {
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 400px) {
  .main-page.best-deal .best-deal__list li {
    padding: 0 5px;
  }
  .main-page .services__inner .services__item-btn {
    max-width: 280px;
  }
  .shops__categories-list {
    margin-bottom: 5px;
  }
  .shops__categories-list + .shops__categories-list {
    margin-left: 0;
    margin-right: 5px;
  }
  .shops__categories {
    width: 130px;
    flex-wrap: wrap;
  }
  .shops__content {
    left: 20px;
  }
}
@media (max-width: 380px) {
  .information__title {
    font-size: 38px;
    line-height: 40px;
  }
  .information__list span {
    font-size: 36px;
  }
}
