@import 'vars';
@import 'global';
@import 'fonts';
@import 'header';
@import 'event';
@import 'calendar';

// // top section start -------------------------------------------
.top.top-main {
  margin-bottom: 110px;
  .btn {
    display: none;
  }
}
.top-main__content {
  position: absolute;
  transform: translateY(-26%);
  top: 0;
  left: 0;
  color: #fff;
  top: 50%;
  margin-left: -71px;
  width: 1263px;
  padding-left: 400px;
  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/decorate/harficka.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 485px;
    height: 680px;
    left: 90px;
    top: -171px;
  }
}
.top-main {
  &__subtitle {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 36px;
    margin-left: 30px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 73.59px;
    line-height: 76.46px;
    max-width: 793px;
    margin-bottom: 10px;
  }
  .top__img {
    height: 960px;
  }
  .decoration {
    height: 20px;
  }
}
.top__inner {
  position: relative;
}
.top__img {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  img {
    border-radius: 11px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}
.top__box {
  border-radius: 10px;
  display: flex;

  &-item {
    width: 100%;
    height: 200px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }
}
.title {
  font-size: 60px;
  line-height: 30px;
  font-weight: 800;
}

// top section end ---------------------------------------------------
//shop-detail section
.shop-detail {
  margin-top: 172px;
}
.shop-detail__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.shop-detail__logo {
  width: 197px;
  height: 36px;
  img {
    width: 100%;
  }
}
.shop-detail__item + .shop-detail__item {
  margin-left: 6px;
}
.shop-detail__item {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $pink;
  border-radius: 15px;
  position: relative;
  padding: 6px 16px 5px 31px;
  display: inline-block;
  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 9px;
    top: 9px;
    background-color: #fff;
  }
}
.shop-detail__list {
  margin-bottom: 130px;
}

.shop-detail__box {
  .more {
    display: none;
  }
}

// infromation
.information {
  margin-bottom: 55px;
  &__inner {
    position: relative;
    margin-top: 105px;
    padding: 90px 80px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 50px;
    line-height: 30px;
    font-weight: 200;
    margin-bottom: 70px;
  }
  &__list,
  &__list a {
    font-size: 26px;
    line-height: 50px;
    font-weight: 300;
  }
  &__list span {
    font-size: 46px;
    font-weight: 700;
    display: block;
  }
}
.information__form {
  height: 60px;
  width: 443px;
  display: flex;
  margin-left: 5px;
  button {
    background-color: $pink;
    color: #fff;
    display: inline-block;
    width: 60px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 26px;
  }
  input {
    background-color: #eeeeee;
    border: none;
    width: 380px;
    outline: none;
    padding: 0 15px;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}
.information__placing {
  .information__title {
    margin-bottom: 48px;
  }
}
.information__placing-floor {
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 25px;
}
.information__placing-map {
  max-width: 414px;
  width: 100%;
  img {
    width: 100%;
  }
}
.sup-footer.information {
  margin-bottom: 60px;
  .information__item.information__mail {
    .information__list {
      margin-bottom: 40px;
    }
  }
  .information__inner {
    margin-top: 80px;
    justify-content: space-between;
    padding-right: 200px;
    padding-bottom: 135px;
  }
}
.information__item.information__mail {
  width: 454px;
}
.information__item--contact {
  margin-left: 115px;
}
/// gallery ---------------------------
.gallery {
  margin-bottom: 80px;
  .title {
    margin-bottom: 30px;
    display: none;
  }
}
.gallery__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    'img-1 img-1 img-2 img-3 img-4'
    'img-1 img-1 img-5 img-6 img-6'
    'img-7 img-8 img-9 img-6 img-6';
  a {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 352px;
    height: 100%;
    transition: all 0.7s;
    overflow: hidden;
    display: block;
    &:hover {
      &::before {
        right: -64px;
      }
    }
    &::before {
      content: '';
      height: 100%;
      width: 855px;
      position: absolute;
      background: linear-gradient(135deg, rgb(149, 27, 129) 0%, rgb(255, 102, 51) 100%);
      top: 0;
      right: -950px;
      z-index: 3;
      opacity: 0.9;
      transform: skew(-10deg, 0);
      transition: all 2s;
    }
  }

  .img-1 {
    grid-area: img-1;
  }
  .img-2 {
    grid-area: img-2;
  }
  .img-3 {
    grid-area: img-3;
  }
  .img-4 {
    grid-area: img-4;
  }
  .img-5 {
    grid-area: img-5;
  }
  .img-6 {
    grid-area: img-6;
  }
  .img-7 {
    grid-area: img-7;
  }
  .img-8 {
    grid-area: img-8;
  }
  .img-9 {
    grid-area: img-9;
  }
}
/// gallery ----------------------------

// shops start ----------------------------
.shops {
  margin-bottom: 60px;
  .group__form {
    padding: 0 15px;
  }
  .container {
    padding: 0;
  }
}
.shops__title {
  font-size: 40px;
  line-height: 30px;
  font-weight: 800;
  margin-bottom: 40px;
  padding-left: 20px;
  span {
    font-weight: 200;
  }
}
.shops__inner {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.shops__row {
  max-width: 25%;
  width: 100%;
  padding: 0 16px;
}
.shops__item {
  width: 100%;
  min-height: 420px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  &-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    min-height: 420px;
  }
  &::before {
    content: '';
    height: 100%;
    width: 500px;
    position: absolute;
    background: linear-gradient(45deg, rgb(218, 55, 71) 0%, rgb(255, 102, 51) 100%);
    top: 0;

    right: -113%;
    z-index: 3;
    opacity: 0.9;
    transform: skew(-10deg, 0);
    transition: all 2s;
  }

  a.sell-shops {
    transition: all 0.5s;
    &::before {
      content: '\ea3b';
      position: absolute;
      bottom: 7px;
      left: 0;
      right: 0;
      font-family: 'icomoon';
      text-align: center;
      font-size: 0;
      transform: rotate(45deg);
    }
  }
}

.shops__content {
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 39px;
  left: 40px;
  z-index: 999;
}
.shops__content-title {
  margin-bottom: -12px;
  font-size: 30px;
}
.shops__content-descr {
  padding-bottom: 25px;
  font-size: 0;
  font-weight: 400;
  transition: all 0.5s;
}
.shops__categories-list + .shops__categories-list {
  margin-left: 5px;
}
.shops__categories {
  display: flex;
  &-list {
    background-color: #da3747;
    border-radius: 11px;
    padding: 5px 13px 4px 9px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
.shops__btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: flex;
  span {
    transition: all 0.5;
    display: none;
  }
  .btn-arrow {
    transform: rotate(45deg);
    display: block;
    color: #fff;
    font-size: 19px;
    transition: all 0.5s;
  }
}
// shops active
.shops__item.actives {
  .sell.sell-shops {
    opacity: 0;
    transition: all 0.5s;
  }

  &::before {
    right: 26px;
  }
  .shops__content-descr {
    font-size: 16px;
    transition: all 0.5s;
    padding-top: 25px;
  }
  .shops__btn {
    span {
      display: block;
    }
    .btn-arrow {
      font-size: 0;
    }
  }
}
// shops end ------------------------------
.group-page.main-page {
  .checkbox__inner {
    flex-wrap: wrap;
    justify-content: start;
    margin-left: -40px;
    .checkbox__box {
      margin-left: 40px;
    }
  }
}
//footer

.footer__col {
  margin-right: 212px;
}
.footer__inner {
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
  padding: 93px 0 40px 80px;
}
.footer__title {
  font-size: 40px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 56px;
}
.footer__list {
  margin-bottom: 30px;
}
.footer__link,
.footer__list {
  font-weight: 300;
  font-size: 26px;
}
.footer__link {
  padding-left: 40px;
  position: relative;

  font-size: 26px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(135deg, #1d3354 0%, #da3747 100%);
    border: 2px solid #ffffff;
    border-radius: 50%;
  }
}
.footer__copy {
  margin: 100px 40px 0 auto;
  font-size: 20px;
  font-weight: 700;
}

// best
.best {
  margin-bottom: 100px;
  .shops__title {
    font-size: 60px;
    margin-bottom: 56px;
  }
  .text {
    margin-bottom: 92px;
  }
}
.best__top {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.best__form {
  text-align: center;
}
.best__search {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #eee;
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  border-radius: 30px;
  height: 60px;
  align-items: center;
}
.best__input::placeholder {
  font-weight: 200;
  font-size: 24px;
  color: #707070;
}
.best__input {
  padding: 0 20px;
  text-align: center;
  font-weight: 200;
  font-size: 24px;
  color: #707070;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  &.best__input--mob {
    display: none;
  }
}
.checkbox__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 82px;
}
.checkbox__box {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  input[type='checkbox'] {
    outline: none;
    appearance: none;
    width: 80px;
    height: 34px;
    border: 2px solid $pink;
    border-radius: 17px;
    background: transparent;
    position: relative;
    display: inline-block;
    overflow: hidden;

    vertical-align: middle;
    transition: all 0.5s;
    box-sizing: border-box;
  }
  input[type='checkbox']:after {
    transition: all 0.5s;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 4px;
    margin: 0 5px;
    width: 22px;
    height: 22px;
    background: $pink;
    transition: left 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  input[type='checkbox']:checked {
    transition: all 0.5s;
    border-color: $green;
  }
  input[type='checkbox']:checked:after {
    transition: all 0.5s;
    right: 0px;
    background-color: $green;
  }

  input[type='checkbox']:hover:not(:checked):not(:disabled):after,
  input[type='checkbox']:focus:not(:checked):not(:disabled):after {
    left: 0px;
    transition: all 0.5s;
  }

  input[type='checkbox']:hover:checked:not(:disabled):after,
  input[type='checkbox']:focus:checked:not(:disabled):after {
    right: 0px;
    transition: all 0.5s;
  }

  input[type='checkbox']:disabled {
    opacity: 0.5;
  }
  label {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 15px;
  }
}
.checkbox__box + .checkbox__box {
  margin-left: 40px;
}

/// best
.best__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 40px;
  margin-bottom: 60px;
  grid-template-areas:
    'best--1 best--2 best--3 best--4 best--5'
    'best--6 best--7 best--3 best--8 best--8'
    'best--9 best--10 best--11 best--12 best--13'
    'best--14 best--15 best--16 best--16 best--13';
}
.food__inner {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}
.food__link {
  max-width: 352px;
  width: 100%;
  height: 150px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.main-page {
  .kids,
  .food {
    .container {
      padding: 0;
    }
    .shops__inner {
      margin-bottom: 40px;
      padding: 0;
    }
    .shops__title {
      padding-left: 20px;
    }
  }

  .kids {
    margin-bottom: 114px;
    .shops__item.actives {
      .shops__categories-list {
        border: 2px solid #fff;
      }
    }
    .shops__item::before {
      background: #fd6a36;
    }
    .shops__categories-list {
      background: linear-gradient(-45deg, rgb(237, 104, 59) 100%, rgb(247, 169, 64) 100%);
    }
    .sell {
      font-size: 26px;
      line-height: 20px;
      text-align: center;
      span {
        font-size: 15px;
        line-height: 14px;
      }
    }
    .shops__inner {
      margin-bottom: 50px;
    }
    .btn-link {
      padding-top: 32px;
      font-size: 22px;
      background-image: linear-gradient(-45deg, rgb(247, 169, 64) 82%, rgb(98, 183, 112) 100%);
      span {
        font-size: 30px;
        line-height: 28px;
      }
    }
  }

  /// start campaigns --------------------------------
  .campaigns__row {
    min-height: 317px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .campaigns__content {
    position: absolute;
    left: 80px;
    top: 105px;
    &-title {
      line-height: 1.2;
      font-weight: 800;
      text-transform: uppercase;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
      }
      span {
        display: block;
      }
    }
  }
  .campaigns__item {
    height: 100%;

    display: block;
  }
  .campaigns__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 27px;
    margin-bottom: 112px;
    grid-template-areas:
      'campaigns--1 campaigns--1 campaigns--2'
      'campaigns--1 campaigns--1 campaigns--3';
  }

  .campaigns--1 {
    grid-area: campaigns--1;
    .campaigns__content {
      &-title {
        font-size: 96.6px;
        padding-left: 87px;
        padding-top: 75px;
        line-height: 79px;
        margin-bottom: 29px;
        &::before {
          top: 0;
          height: 6px;
          max-width: 350px;
          width: 100%;
          border-radius: 3px;
          background-color: #db4159;
        }
        span {
          font-size: 75.2px;
          line-height: 65px;
        }
      }
      &-text {
        padding-left: 90px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        color: #1d3354;
        max-width: 607px;
        margin-bottom: 66px;
      }
    }
  }

  .campaigns--2,
  .campaigns--3 {
    max-width: 614px;
    .btn-call {
      font-size: 14.6px;
      line-height: 16px;
      font-weight: 500;
    }
    .btn {
      padding: 15px 42px 2px;
      margin-left: 9px;

      &:hover::after {
        top: 5px;
      }
    }

    .campaigns__content {
      left: 40px;
      top: 84px;
      &-text {
        font-size: 7px;
        line-height: 10px;
        font-weight: 300;
        margin-left: 28px;
        color: #fff;
        max-width: 187px;
        margin-bottom: 21px;
      }
      &-title {
        padding-top: 19px;
        padding-left: 27px;
        font-size: 33px;
        margin-bottom: 16px;
        color: #fff;

        &::before {
          top: 0;
          height: 3px;
          max-width: 119px;
          width: 100%;
          border-radius: 3px;
          background-color: $ocean;
        }
        span {
          font-size: 25.7px;
          line-height: 10px;
        }
      }
    }
  }
  .campaigns--2 {
    grid-area: campaigns--2;
  }
  .campaigns--3 {
    grid-area: campaigns--3;
  }
  // end campaigns -------------------------------------
  .food {
    margin-bottom: 115px;
    .btn-link {
      background: linear-gradient(-45deg, #ed683b 64%, #f7a940 100%);
      font-size: 22px;
      padding-top: 35px;
      span {
        font-size: 30px;
        line-height: 28px;
      }
    }
  }
  // events start ------------------
  .events {
    margin-top: 110px;
    margin-bottom: 105px;
    .title {
      margin-bottom: 44px;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 95px;
    }
    &__item {
      position: relative;
      max-width: 420px;
      width: 100%;
      padding-top: 40px;
      padding-bottom: 157px;
    }
    &__img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 7px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      min-height: 224px;
      width: 100%;
      display: block;
    }
    &__day {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      text-decoration: line-through;
    }
    &__info {
      position: absolute;
      bottom: 0;
    }
    &__info-title {
      font-size: 30px;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 30px;
      max-width: 275px;
    }
    &__categories {
      display: flex;
    }
    &__categorie {
      padding: 5px 10px 3px 9px;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      border-radius: 11px;
      background: linear-gradient(-45deg, #ed683b 100%, #f7a940 100%);
    }
    .events__categorie + .events__categorie {
      margin-left: 4px;
    }
    .btn-link {
      padding-top: 32px;
      font-size: 22px;
      background-image: linear-gradient(-45deg, rgb(247, 169, 64) 82%, rgb(98, 183, 112) 100%);
      span {
        font-size: 26px;
        line-height: 28px;
      }
    }
  }

  /// events end ---------------------
  /// news start ----------------------
  .news {
    margin-bottom: 90px;
    .btn-link {
      background-color: $ocean;
      font-size: 20px;
      line-height: 20px;
      line-height: 1.2;
      padding-top: 41px;
      span {
        font-size: 32px;
        line-height: 20px;
        font-weight: 700;
      }
    }
    .shops__title {
      margin-bottom: 41px;
    }
    .shops__item.actives::before {
      right: -37px;
      width: 120%;
    }
    .shops__inner {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 40px;
      margin-bottom: 62px;
      grid-template-areas: 'news--1 news--1 news--2 news--3';
    }
    .shops__row {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
    .shops__categories-list {
      background: rgb(21, 122, 110);
    }
    .shops__item::before {
      background: linear-gradient(-45deg, rgb(21, 122, 110) 0%, rgb(29, 51, 84) 100%);
    }
  }

  .news--1 {
    grid-area: news--1;
    .shops__categories-list {
      background-color: transparent;
      border: 2px solid #fff;
    }
    .shops__content-descr {
      max-width: 427px;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      padding-bottom: 18px;
    }
    .shops__content {
      transition: all 1s;
      opacity: 0;
    }
    .shops__item::before {
      right: -54%;
    }
    .shops__item.actives {
      &::before {
        right: -70px;
        width: 120%;
      }
      .shops__content {
        opacity: 1;
      }
    }
  }
  .news--2 {
    grid-area: news--2;
  }
  .news--3 {
    grid-area: news--3;
  }
  // mews end ---------------------------
  /// services start --------------------

  .services {
    margin-bottom: 108px;
    .btn-link {
      font-size: 20px;
      line-height: 20px;
      background: linear-gradient(165deg, #2a96d4 0, #62b770 10%);
      span {
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
      }
    }
  }
  .services__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    margin-bottom: 51px;
    grid-template-areas:
      'services--1 services--2 services--3 services--4'
      'services--5 services--5 services--3 services--6';
  }
  .services__row {
    min-height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 7px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

    .btn {
      padding: 21px 88px 10px;
      max-width: 361px;
      text-align: center;
      width: 100%;
    }
  }
  .services__item {
    padding: 0 40px;
    &-btn {
      position: absolute;
      bottom: 28px;
      left: 15px;
    }
  }
  .services__row.services__row--option {
    .services__item-btn {
      bottom: 46px;
    }
  }
  .services__item-title {
    position: absolute;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    left: 42px;
    span {
      font-size: 42px;
      line-height: 40px;
      display: block;
    }
  }

  .services--3 {
    grid-area: services--3;
    background: linear-gradient(180deg, #eea941 0%, #157a6e 156%);
    opacity: 0.94;
    &.services__row {
      .services__item-title {
        color: #1d3354;
        top: 33px;
        left: 39px;
      }
    }
  }

  .services__item-time {
    line-height: 30px;
    color: #1d3354;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
    margin-top: 142px;
    margin-bottom: 89px;
  }

  .services__item-hours {
    font-size: 57px;
    font-weight: 700;
    color: #fff;
    margin-top: 22px;
    letter-spacing: -1px;
    margin-bottom: 16px;
  }
  .services__item-price {
    text-transform: uppercase;
  }
  .services__menu {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .services__menu-title {
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .services__menu-link {
    align-items: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    height: 60px;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    line-height: 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.4s;
    &:hover {
      border: 2px solid $orange;
      color: $orange;
      transform: scale(1.06);
    }
  }
  .services__menu-link + .services__menu-link {
    margin-top: 20px;
  }
  /// services end -----------------------

  .shops__title {
    font-size: 60px;
    padding-left: 0;
    margin-bottom: 65px;
  }
}
.main-page .deal {
  margin-bottom: 100px;
  .best__item-content::after {
    background: #1d3354;
  }
  .btn-link {
    background: linear-gradient(145deg, #d83450 89%, #ed683b 100%);
  }

  .best__items {
    grid-template-areas:
      'best--1 best--2 best--3 best--4 best--5'
      'best--6 best--7 best--3 best--8 best--8';
  }
  .best--9,
  .best--10,
  .best--11,
  .best--12,
  .best--13,
  .best--14,
  .best--15,
  .best--16 {
    display: none;
  }
}

.best__item {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.best__btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  span {
    transition: all 0.5;
    display: none;
  }
  .btn-arrow {
    transform: rotate(45deg);
    display: block;
    color: #fff;
    font-size: 19px;
    transition: all 0.5s;
  }
}
.best__row {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: block;
  border-radius: 5px;
}
.best__item-content {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 328px;
  height: 100%;
  transition: all 0.7s;
  overflow: hidden;
  display: block;
  z-index: 10;
  &::before {
    content: '';
    height: 100%;
    width: 162%;
    position: absolute;
    background: linear-gradient(135deg, rgb(218, 55, 71) 0%, rgb(29, 51, 84) 100%);
    top: 0;
    right: -210%;
    z-index: 20;
    opacity: 0.9;
    transform: skew(-10deg, 0);
    transition: all 2s;
  }
  &::after {
    content: '';
    height: 100%;
    width: 100px;
    position: absolute;
    background: rgb(43, 150, 212);
    top: 0;

    right: -81px;
    z-index: 3;
    opacity: 0.9;
    transform: skew(-10deg, 0);
    transition: all 2s;
  }
}
.best--3,
.best--13 {
  .best__item-content::after {
    right: -114px;
  }
}
.best__info {
  max-width: 200px;
  width: 100%;
}
.best__item-content.active {
  .best__hover {
    left: 30px;
    opacity: 1;
    transition: all 2s;
  }
  .best__btn {
    right: 0;
    bottom: 0;
    span {
      display: block;
    }
    .btn-arrow {
      font-size: 0;
    }
  }
  &:before {
    right: -60px;
    z-index: 4;
  }
}
.best__hover {
  transition: all 2s;
  color: #fff;
  z-index: 55;
  position: absolute;
  opacity: 0;
  left: 376px;
  bottom: 25px;
  &-date {
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 20px;
  }
  &-descr {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    padding-top: 23px;
    span {
      background-color: rgb(21, 122, 110);
      padding: 3px 9px 2px 9px;
      border-radius: 11px;
    }
    span + span {
      margin-left: 3px;
    }
  }
  &-logo {
    width: 102px;
    height: 29px;
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
  .best__info-list {
    line-height: 15px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

.best--1 {
  grid-area: best--1;
}

.best--2 {
  grid-area: best--2;
}

.best--3 {
  grid-area: best--3;
}

.best--4 {
  grid-area: best--4;
}

.best--5 {
  grid-area: best--5;
}

.best--6 {
  grid-area: best--6;
}

.best--7 {
  grid-area: best--7;
}

.best--8 {
  grid-area: best--8;
}

.best--9 {
  grid-area: best--9;
}

.best--10 {
  grid-area: best--10;
}

.best--11 {
  grid-area: best--11;
}

.best--12 {
  grid-area: best--12;
}

.best--13 {
  grid-area: best--13;
}

.best--14 {
  grid-area: best--14;
}

.best--15 {
  grid-area: best--15;
}

.best--16 {
  grid-area: best--16;
}

// services-page
.services-page__title {
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  margin-bottom: 37px;
  span {
    font-weight: 800;
  }
}
.services-page__text {
  text-align: center;
  margin: 0 auto;
  max-width: 930px;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.main-page.services-page {
  .top {
    padding-top: 150px;
    margin-bottom: 190px;
    .decoration {
      display: none;
    }
  }
  .services__inner {
    grid-gap: 40px;
    margin-bottom: 51px;
    grid-template-areas:
      'services--1 services--2 services--3 services--4'
      'services--5 services--5 services--3 services--6'
      'services--7 services--8 services--9 services--10'
      'services--11 services--11 services--12 services--13';
  }
}
.services--1 {
  grid-area: services--1;
}
.services--2 {
  grid-area: services--2;
}
.services--4 {
  grid-area: services--4;
}
.services--5 {
  grid-area: services--5;
}
.services--6 {
  grid-area: services--6;
}
.services--7 {
  grid-area: services--7;
}
.services--8 {
  grid-area: services--8;
}
.services--9 {
  grid-area: services--9;
}
.services--10 {
  grid-area: services--10;
}
.services--11 {
  grid-area: services--11;
}
.services--12 {
  grid-area: services--12;
}
.services--13 {
  grid-area: services--13;
}
.services--1,
.services--7,
.services--10 {
  .services__item-title {
    bottom: 29%;
  }
}
.services--4,
.services--9 {
  .services__item-title {
    bottom: 34px;
  }
}
.services--6,
.services--12 {
  .services__item-btn {
    bottom: 44px;
  }
  .services__item-title {
    bottom: 34%;
  }
}
.services--5,
.services--11 {
  .services__item-title {
    bottom: 35px;
  }
}

.services--2,
.services--8,
.services--13 {
  .services__item-title {
    top: 40px;
  }
}

///best-deal page --------------------
.main-page.best-deal {
  .best__items {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'best--6 best--5 best--4 best--8 best--8';
  }
  .best__item-content::after {
    background: #1d3354;
  }
  .best-deal__inner {
    margin-top: 104px;
  }
  .best-deal__img {
    max-width: 1000px;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      border-radius: 10px;
    }
  }
  .best-deal__list {
    margin-bottom: 120px;
  }
  .best-deal__list li {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
  }
  .best-deal__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    margin-bottom: 40px;
  }
  .best-deal__subtitle {
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 57px;
    span {
      font-weight: 800;
    }
  }
  .top {
    &__inner {
      padding-top: 151px;
      text-align: center;
    }
    .decoration {
      display: none;
    }
  }
}

//// group ---------------------------
.group-page.main-page {
  .food {
    margin-bottom: 0;
  }
  .shops__inner {
    margin-bottom: 4px;
  }
  .shops__title {
    font-size: 40px;
    margin-bottom: 55px;
  }
  .top.top-main {
    margin-bottom: 92px;
  }
}
.group__inner {
  padding-top: 50px;
  margin-bottom: 75px;
}
.group__checkbox {
  display: flex;
}
.group__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.group__top {
  text-align: center;
  max-width: 952px;
  margin: 0 auto;
  padding: 0 10px;
}
.group__title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 38px;
  span {
    font-weight: 200;
  }
}

.group__wrapper {
  display: flex;
  position: relative;

  margin-top: 20px;
}
.group__num {
  position: absolute;
  left: -5px;
  top: 60px;
  font-size: 100px;
  font-weight: 200;
  text-transform: uppercase;
}
.group__col {
  flex: 0 0 33%;
  &-title {
    padding-left: 25px;
    text-align: center;
    font-weight: 700;
    color: #eee;
    font-size: 200px;
    text-transform: uppercase;
    line-height: 200px;
    margin-bottom: 10px;
  }
}
.group__item {
  padding: 0 10px;

  &-img {
    height: 142px;
    margin-bottom: 10px;
    img {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &-link {
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 38px;
  }
  &-title {
    margin-left: 34px;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 26px;
  }
}
.group__categories {
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
}
.group__categorie {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #404040;
  height: 30px;
  border: 2px solid #d83550;
  border-radius: 15px;
  padding: 0 12px;
  margin-bottom: 5px;
}
.group__categorie + .group__categorie {
  margin-left: 10px;
}
.group__items {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  .group__categories {
    margin-left: 0;
    justify-content: center;
  }
  .group__categorie {
    height: 22px;
  }
  .group__item-img {
    width: 100%;
    margin-bottom: 30px;
    height: 215px;
  }
  .group__item {
    margin-bottom: 30px;
    flex: 0 50%;
    width: 100%;
    min-height: 325px;
    &-link {
      padding: 23px 20px 30px 20px;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
//shops
.shops-page.group {
  .checkbox__inner {
    flex-wrap: wrap;
    justify-content: start;
    margin-left: -40px;
    .checkbox__box {
      margin-left: 40px;
    }
  }
}

/// terasy page
.terasy__title {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}
.terasy__subtitle {
  font-size: 40px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 35px;
  margin-left: 15px;
  span {
    font-weight: 800;
    position: relative;
    padding-left: 45px;
    &::before {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      left: 5px;
      top: 19px;
      border-radius: 50%;
    }
  }
}
.main.terasy-page {
  margin-top: 96px;
}
.terasy-page {
  .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .top__img {
    width: 100%;
    height: 100%;
  }
  .shops__item {
    border: 2px solid transparent;
  }
  .shops__item.actives {
    .shops__categories-list {
      border: 2px solid #fff;
    }
  }
  .shops__categories-list {
    padding: 5px 13px 4px 19px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      border-radius: 50%;
      background-color: #fff;
      width: 8px;
      height: 8px;
      left: 6px;
      top: 7px;
    }
  }
  .food,
  .terasy__inner,
  .terasy__bottom {
    margin-bottom: 78px;
  }
  .top.top-main {
    margin-bottom: 60px;
    .sell {
      width: 140px;
      height: 140px;
      right: 40px;
      left: auto;
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      text-transform: uppercase;
      span {
        font-size: 20px;
      }
      &--1 {
        top: 65px;
        word-break: break-word;
        text-align: center;
        padding: 0 15px;
      }
      &--2 {
        top: 230px;
      }
    }
  }
  .text {
    max-width: 915px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 95px;
  }
  .terasy__bottom .terasy__subtitle {
    span:before {
      background-color: $green;
    }
  }
  .gallery .terasy__subtitle {
    span:before {
      background-color: $ocean;
    }
  }
  .food .terasy__subtitle {
    span:before {
      background-color: #d83550;
    }
  }
  .c-video {
    height: 100%;
    position: relative;
    &.top-play {
      .sell,
      .top-main__content {
        opacity: 0;
      }
    }
  }
  .btn__video {
    cursor: pointer;
    width: 140px;
    height: 140px;
    top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 30;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
  }

  .top-main__subtitle {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.1px;
  }
  .top-main__content {
    padding-left: 82px;
    transform: translateY(2%);
    top: 44%;
  }
  .top-main__content::before {
    background-image: url('../images/decorate/terasy.png');
    width: 167px;
    height: 83px;
    left: 111px;
    top: -95px;
  }
  .decoration {
    display: none;
  }
}
.terasy__inner {
  .terasy__subtitle {
    span:before {
      background-color: $orange;
    }
  }
  .shops__categories-list {
    margin-bottom: 5px;
  }
  .shops__categories {
    flex-wrap: wrap;
  }
  .shops__item,
  .shops__item-bg {
    min-height: 580px;
  }
  .shops__item.actives::before {
    right: 26px;
  }
  .shops__item::before {
    width: 130%;
    right: -127%;
    background: #fd6a36;
  }
  .shops__categories-list {
    background-color: $orange;
  }
  .shops__content-title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    span {
      font-weight: 300;
    }
  }
  .shops__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-template-areas:
      'terasy--1 terasy--1 terasy--2'
      'terasy--3 terasy--4 terasy--4'
      'terasy--5 terasy--5 terasy--6';
  }

  .shops__row {
    max-width: 100%;
    padding: 0;
  }
}
.terasy--1 {
  grid-area: terasy--1;
}
.terasy--2 {
  grid-area: terasy--2;
}
.terasy--3 {
  grid-area: terasy--3;
}
.terasy--4 {
  grid-area: terasy--4;
}
.terasy--5 {
  grid-area: terasy--5;
}
.terasy--6 {
  grid-area: terasy--6;
}
.terasy__bottom-inner {
  display: flex;
  .shops__item::before {
    display: none;
  }
  .shops__item,
  .shops__item-bg {
    min-height: 580px;
  }
  .shops__categories-list {
    background-color: $green;
  }
  .shops__row {
    flex: 0 0 33.333%;
    max-width: 100%;
  }
}
/// servies-detail
.main.services-detail,
.main.career-detail {
  .services__item-btn {
    margin-left: -15px;
  }
  .information__menu {
    margin-bottom: 50px;
  }
}
.main.services-detail {
  .title {
    text-align: center;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
    line-height: 66px;
  }
}

// career-detail
.main.career-detail {
  .text {
    text-align: center;
    margin-bottom: 100px;
    padding-left: 0;
  }
  .title {
    font-weight: 300;
    margin: 0 auto;
    line-height: 66px;
  }
  .career-detail__box {
    position: absolute;
    transform: translateY(50%);
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .career-detail__title {
    font-size: 80px;
    color: #fff;
    margin-bottom: 50px;
  }
  .career-detail__categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li + li {
      margin-left: 10px;
    }
    li {
      margin-bottom: 10px;
      font-size: 22px;
      background-color: #fff;
      border-radius: 11px;
      padding: 5px 13px 4px 13px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
/// career-page
.career__title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 30px;
}
.career__inner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  .shops__categories-list {
    font-weight: 700;
    color: #fff;
  }
}
.career__wrapper {
  flex: 0 0 33.333%;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 15px;
}
.career__item {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
.career__link {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
}
.career__firm {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.career__vacancy {
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 20px;
}
.career__info {
  margin-top: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  max-width: 250px;
}

/// parking-page
.parking-page {
  .maps {
    margin-top: -225px;
  }
  .top.top-main {
    margin-bottom: 92px;
  }
}
.parking {
  text-align: center;
  .text {
    max-width: 930px;
    margin: 0 auto 84px;
  }
  .title {
    margin-bottom: 57px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 40px;
  }
}
.parking__price {
  display: flex;
  margin: 100px 0 72px -30px;

  &-item {
    max-width: 580px;
    height: 580px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 30px;
    position: relative;
    color: #fff;
    padding-top: 106px;
  }
  &-info {
    font-size: 30px;
    font-weight: 400;
    padding-top: 6px;
    margin-bottom: 44px;
    .parking__price-descr {
      padding-top: 5px;
      text-transform: uppercase;
      font-size: 40px;
    }
  }
  &-descr {
    font-size: 30px;
    font-weight: 400;
    max-width: 412px;
    margin: 0 auto;
    padding: 0 15px;
    span {
      font-weight: 800;
      font-size: 40px;
    }
  }
  &-title {
    margin-bottom: 23px;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    span {
      font-weight: 800;
      font-size: 80px;
      display: block;
    }
  }
  &-top {
    position: absolute;
    top: -60px;
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 120px;
    height: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.parking__payment {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 73px;
  &-item {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    height: 150px;
    max-width: 352px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    img {
      height: 110px;
      max-width: 230px;
      width: 100%;
      object-fit: contain;
    }
  }
}
.parking__inner {
  padding-top: 17px;
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }
  input:checked + label {
    font-weight: 800;
  }
  label {
    background-color: #eeeeee;
    font-size: 26px;
    font-weight: 400;
    height: 50px;
    text-transform: uppercase;
    padding: 0 34px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    border-radius: 5px;
  }
  label:hover {
    cursor: pointer;
  }
}
.parking__text {
  font-size: 26px;
  line-height: 34px;
}
.parking__form {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
#tommorow {
  position: relative !important;
  z-index: 999;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  font-size: 30px;

  background-image: url('../images/decorate/kalendar.png');
}
.date-box {
  background-color: #eee;
  border-radius: 5px;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parking__categories {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px -40px;
}
.parking__categorie {
  position: relative;
  margin-left: 40px;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 35px 45px 60px 45px;
  width: 300px;
  height: 300px;

  &.bg--green {
    color: #fff;
    background-color: $green;
  }
}
.parking__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}
.parking__list {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  &-img {
    margin-bottom: 20px;
    img {
      width: 200px;
      height: 55px;
      object-fit: contain;
    }
  }
  &-bottom {
    font-weight: 400;
    font-size: 40px;
    display: block;
    text-transform: uppercase;
  }
}

.parking__list-bonus {
  font-weight: 800;
  font-size: 80px;
  margin-top: 10px;
  bottom: 65px;
  text-transform: uppercase;
  line-height: 1;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  span {
    font-size: 60px;
    text-transform: capitalize;
  }
}
.parking__bottom {
  .title {
    margin-top: 54px;
    margin-bottom: 51px;
  }
  .parking__price-descr {
    margin-bottom: 172px;
  }
}
.parking__map {
  width: 100%;
  height: 100%;
  position: relative;
  top: -38px;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: none;
  }
}
.map-2 {
  display: none;
}
@import 'media';
